<p>listado de heroes</p>
<!--div *ngIf="ultimoBorrado">
    <h1>Ultimo heroe borrado: <span>{{ultimoBorrado}}</span></h1>
</div>

<div *ngIf="!ultimoBorrado">
    <h1>No se ha borrado nada</h1>
</div-->

<div *ngIf="ultimoBorrado; else noBorrado">
    <h1>Ultimo heroe borrado: <span>{{ultimoBorrado}}</span></h1>
</div>

<ng-template #noBorrado>
    <h1>No se ha borrado nada</h1>
</ng-template>

<button (click)="borrarHeroe();">Es boleta</button>

<ul>
    <li *ngFor="let heroe of heroes;let i = index">
        {{heroe}}:{{i}}
    </li>
</ul>
